## High-Level ETL (Extract - Transform - Load) Flow
**Goal**: By the end of this tutorial, you will be able to
- Extract: Download a file from AWS S3 using Pythonâ€™s boto3.
- Transform: Clean, filter, or manipulate data in Python (often using libraries like pandas).
- Load: Insert the transformed data into a relational database via SQL statements.

## Lab Assignment

1. Implement the following functions
   - `extract_from_csv(file_to_process: str) -> pd.DataFrame`: read the .csv file and return dataframe
   - `extract_from_json(file_to_process: str) -> pd.DataFrame`: read the .json file and return dataframe
   - `extract() -> pd.DataFrame`: extract data of heterogeneous format and combine them into a single dataframe.
   - `transform(df) -> pd.DataFrame`: function for data cleaning and manipulation.
2. Clean the data
   - Round float-type columns to two decimal places.
   - remove duplicate samples
   - Save the cleaned data into parquet file
3. Insert the data into SQL
   - Create postgresql database
   - Insert the data into the database
  
Submission requirement:
    1. Jupyter Notebook
    2. Parquet File
    3. SQL file (optional)

In [7]:
# Required Package:
# psycopg2 2.9.10 (A PostgreSQL database adapter)
# pandas 2.0.3 (For data manipulation and analysis)
# sqlalchemy 2.0.37 (A SQL toolkit and Object Relational Mapper)
# pyarrow 14.0.1 (Provides support for efficient in-memory columnar data structures, part from Apache Arrow Objective)
import pandas as pd

#required for reading .xml files
import xml.etree.ElementTree as ET

#required for navigating machine's directory
import glob
import os.path

#required for communicating with SQL database
from sqlalchemy import create_engine

# E: Extracting data from multiple sources

In [8]:
!pip install boto3
import boto3
import os

my_aws_access_key_id='ASIAYAAO5HRMOFIDPVS3'
my_aws_secret_access_key='ulVA/m4soA/gUoqGW+UHskTZIpsYWJPSeEpWwXqO'
my_aws_session_token='IQoJb3JpZ2luX2VjEE4aCXVzLWVhc3QtMiJHMEUCIC32VjYustVEvu18qgOEImsAe4zU1KFeP1UI3ii6Lbn7AiEAsmUkaWyV6VQGoQRGWGzIIf4g+X1kmqAeJnDex6jmHI8q6wIIZxAAGgw1NDk3ODcwOTAwMDgiDKml/M9RlE+GfpaffCrIAj/bIRbRnNs3kLIdcbI24WuphoT7pKkFoG4nU8oD9tzXAsHfQpWI3xBjCi/mQsIZ71QG1qw6Wcf1UVVyWOAofPrz4nRUWruJVK57+zBunMtYDcyubabQa79LpyfCct6lsU5wfDCjTz1JqLAx0OqjMA0eZC3He518aP+mqU1uhFfbjWpTQatC28OEfdUFl3H3CL/7gSh3SIciB2VzfOuC4Q51gpXa1F56QfxI0a+vvwTKCN90iMRQ7Xto8xdJqT4HWh1t6D2qof0jwaqRwUKAPOB2b/Z6x+aJ8j8C9Yt90J7fJGB61Dxx7C/0uVgMdT5/1Bl9IoHiXkbgaWPkMz4R6/c6UXOKn5aXKZE1rTHx1vs5v0ATQ5Fh+VZSuy1hLDfhNjAiKoHg/pF9T4FLs3LvIxZAVL8SfJwIPt5xMt6Pw9oTXms/Z3X7bHwwk+SUvQY6pwGtJ7rsc5IPSItvqYGoW48Ixm1FBXmcnHjO7JNk1a4GbxJ9LwnYC3tpuw/5IUXsu0sux5sW185ciJouYtjL+uL6ttFkA/xfkGa0PBIfzznaHYQCvW62MYqemm9iqz/qZqxxfzcSNDO+bouqbnSUAW44CtEBSLazGydEgI+H5UpVjSuQAHC8hjwEP9iJurp15Um+ohc0Yk19ANLDW3n7iHeJndhSGTDM7Q=='

BUCKET_NAME = 'de300winter2025'   # Replace with your bucket name
S3_FOLDER = 'dinglin_xia/lab4_data/'             # The folder path in S3
LOCAL_DIR = './local-data/'      # Local directory to save files

Requirement already satisfied: boto3 in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.35.76)
Requirement already satisfied: botocore<1.36.0,>=1.35.76 in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from boto3) (1.35.76)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from boto3) (0.10.4)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from botocore<1.36.0,>=1.35.76->boto3) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from botocore<1.36.0,>=1.35.76->boto3) (2.0.4)
Requirement already satisfied: six>=1.5 in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.36.0,>=1.35.76->boto3) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 25.0
[notice] To update, run: C:\Users\aidan\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [9]:
def download_s3_folder(bucket_name, s3_folder, local_dir):
    """Download a folder from S3."""
    if not os.path.exists(local_dir):
        os.makedirs(local_dir)

    # List objects within the specified folder
    s3_resource = boto3.resource('s3',
                                aws_access_key_id=my_aws_access_key_id,
                                aws_secret_access_key=my_aws_secret_access_key,
                                aws_session_token=my_aws_session_token)
    bucket = s3_resource.Bucket(bucket_name)

    for obj in bucket.objects.filter(Prefix=s3_folder):
        # Define local file path
        local_file_path = os.path.join(local_dir, obj.key[len(s3_folder):])

        if obj.key.endswith('/'):  # Skip folders
            continue

        # Create local directory if needed
        local_file_dir = os.path.dirname(local_file_path)
        if not os.path.exists(local_file_dir):
            os.makedirs(local_file_dir)

        # Download the file
        bucket.download_file(obj.key, local_file_path)
        print(f"Downloaded {obj.key} to {local_file_path}")

In [10]:
download_s3_folder(BUCKET_NAME, S3_FOLDER, LOCAL_DIR)

Downloaded dinglin_xia/lab4_data/used_car_prices1.csv to ./local-data/used_car_prices1.csv
Downloaded dinglin_xia/lab4_data/used_car_prices1.json to ./local-data/used_car_prices1.json
Downloaded dinglin_xia/lab4_data/used_car_prices1.xml to ./local-data/used_car_prices1.xml
Downloaded dinglin_xia/lab4_data/used_car_prices2.csv to ./local-data/used_car_prices2.csv
Downloaded dinglin_xia/lab4_data/used_car_prices2.json to ./local-data/used_car_prices2.json
Downloaded dinglin_xia/lab4_data/used_car_prices2.xml to ./local-data/used_car_prices2.xml
Downloaded dinglin_xia/lab4_data/used_car_prices3.csv to ./local-data/used_car_prices3.csv
Downloaded dinglin_xia/lab4_data/used_car_prices3.json to ./local-data/used_car_prices3.json
Downloaded dinglin_xia/lab4_data/used_car_prices3.xml to ./local-data/used_car_prices3.xml

## Extract data from ./data/ folder

In [11]:
all_files = glob.glob('./local-data/*')

# Output the list of files
for file in all_files:
    print(file)

./local-data\used_car_prices1.csv
./local-data\used_car_prices1.json
./local-data\used_car_prices1.xml
./local-data\used_car_prices2.csv
./local-data\used_car_prices2.json
./local-data\used_car_prices2.xml
./local-data\used_car_prices3.csv
./local-data\used_car_prices3.json
./local-data\used_car_prices3.xml

### Function to extract data from one .csv file

In [12]:
def extract_from_csv(file_to_process: str) -> pd.DataFrame:
    df = pd.read_csv(file_to_process)
    return df

### Function to extract data from one .json file

In [13]:
def extract_from_json(file_to_process: str) -> pd.DataFrame:
    df = pd.read_json(file_to_process, lines=True)
    return df

### Function to extract data from one  .xml file

In [14]:
def extract_from_xml(file_to_process: str) -> pd.DataFrame:
    dataframe = pd.DataFrame(columns = columns)
    tree = ET.parse(file_to_process)
    root = tree.getroot()
    for person in root:
        car_model = person.find("car_model").text
        year_of_manufacture = int(person.find("year_of_manufacture").text)
        price = float(person.find("price").text)
        fuel = person.find("fuel").text
        sample = pd.DataFrame({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, index = [0])
        dataframe = pd.concat([dataframe, sample], ignore_index=True)
    return dataframe

### Function to extract data from the ./data/ folder

In [15]:
def extract() -> pd.DataFrame:
    extracted_data = pd.DataFrame(columns = columns)
    #for csv files
    for csv_file in glob.glob(os.path.join(folder, "*.csv")):
        extracted_data = pd.concat([extracted_data, extract_from_csv(csv_file)], ignore_index=True)

    #for json files
    for json_file in glob.glob(os.path.join(folder, "*.json")):
        extracted_data = pd.concat([extracted_data, extract_from_json(json_file)], ignore_index=True)

    #for xml files
    for xml_file in glob.glob(os.path.join(folder, "*.xml")):
        extracted_data = pd.concat([extracted_data, extract_from_xml(xml_file)], ignore_index=True)

    return extracted_data

### Extract the data

In [16]:
columns = ['car_model','year_of_manufacture','price', 'fuel']
folder = "local-data"
#table_name = "car_data"

# run
def main():
    data = extract()
    #insert_to_table(data, "car_data")

    return data

data = main()

C:\Users\aidan\AppData\Local\Temp\ipykernel_27256\4204622506.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  extracted_data = pd.concat([extracted_data, extract_from_csv(csv_file)], ignore_index=True)
C:\Users\aidan\AppData\Local\Temp\ipykernel_27256\3387287639.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)
C:\Users\aidan\AppData\Local\Temp\ipykernel_27256\3387287639.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)
C:\Users\aidan\AppData\Local\Temp\ipykernel_27256\3387287639.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)

In [17]:
data.head()

  car_model year_of_manufacture         price    fuel
0      ritz                2014   5000.000000  Petrol
1       sx4                2013   7089.552239  Diesel
2      ciaz                2017  10820.895522  Petrol
3   wagon r                2011   4253.731343  Petrol
4     swift                2014   6865.671642  Diesel

# T: Transformation data and save organized data to .parquet file

In [18]:
staging_file = "cars.parquet"
staging_data_dir = "staging_data"

In [19]:
def transform(df):
    print(f"Shape of data {df.shape}")

    # truncate price with 2 decimal place (add your code below)
    df.price = df.price.round(decimals=2)

    # remove samples with same car_model (add your code below)\
    df = df.drop_duplicates(subset=['car_model'], keep='first')

    print(f"Shape of data {df.shape}")

    # Ensure the staging directory exists before writing the Parquet file
    if not os.path.exists(staging_data_dir):
        os.makedirs(staging_data_dir)
        print(f"Directory '{staging_data_dir}' created.")

    # write to parquet
    df.to_parquet(os.path.join(staging_data_dir, staging_file))
    return df

In [20]:
# print the head of your data
df = transform(data)
df.head()

Shape of data (90, 4)
Shape of data (25, 4)
Directory 'staging_data' created.

  car_model year_of_manufacture     price    fuel
0      ritz                2014   5000.00  Petrol
1       sx4                2013   7089.55  Diesel
2      ciaz                2017  10820.90  Petrol
3   wagon r                2011   4253.73  Petrol
4     swift                2014   6865.67  Diesel

# L: Loading data for further modeling

### Set Up PostgreSQL Locally
#### Step 1: Install PostgreSQL
- Windows: Download from MySQL Official Site {https://www.postgresql.org/download/}
- Mac:
  ```{bash}
  brew install postgresql
  brew services start postgresql
  ```
Then access PostgreSQL CLI
```{bash}
psql -U postgres
```
Note: if you don't have default "postgres" user, then create it manually by
```{bash}
default "postgres" user
```
or
```{bash}
sudo -u $(whoami) createuser postgres -s
```

Then create a database
```{sql}
CREATE DATABASE my_local_db;
\l  -- List all databases
```

#### Step 2: Create a User and Grant Privileges
In PostgreSQL CLI:
```{sql}
CREATE USER myuser WITH ENCRYPTED PASSWORD 'mypassword';
GRANT ALL PRIVILEGES ON DATABASE my_local_db TO myuser;
```

#### Step 3: Install Required Python Libraries
```{bash}
pip install pandas sqlalchemy pymysql psycopg2 mysql-connector-python
```

In [51]:
!pip install pandas sqlalchemy pymysql psycopg2 mysql-connector-python
# Database credentials
db_host = "localhost"
db_user = "myuser"
db_password = "mypassword"
db_name = "my_local_db"

conn_string = f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}/{db_name}"

engine = create_engine(conn_string)

Requirement already satisfied: pandas in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.1.0)
Requirement already satisfied: sqlalchemy in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.38)
Requirement already satisfied: pymysql in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.1.1)
Requirement already satisfied: psycopg2 in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.9.10)
Requirement already satisfied: mysql-connector-python in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (9.2.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: six>=1.5 in c:\users\aidan\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 25.0
[notice] To update, run: C:\Users\aidan\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [52]:
# Test connection
df = pd.read_sql("SELECT * FROM pg_catalog.pg_tables;", con=engine)
print(df)

            schemaname                tablename tableowner tablespace  \
0           pg_catalog             pg_statistic   postgres       None
1           pg_catalog                  pg_type   postgres       None
2           pg_catalog         pg_foreign_table   postgres       None
3           pg_catalog                pg_authid   postgres  pg_global
4           pg_catalog    pg_statistic_ext_data   postgres       None
..                 ...                      ...        ...        ...
63          pg_catalog           pg_largeobject   postgres       None
64  information_schema                sql_parts   postgres       None
65  information_schema             sql_features   postgres       None
66  information_schema  sql_implementation_info   postgres       None
67  information_schema               sql_sizing   postgres       None

    hasindexes  hasrules  hastriggers  rowsecurity
0         True     False        False        False
1         True     False        False        False
2         True     False        False        False
3         True     False        False        False
4         True     False        False        False
..         ...       ...          ...          ...
63        True     False        False        False
64       False     False        False        False
65       False     False        False        False
66       False     False        False        False
67       False     False        False        False

[68 rows x 8 columns]

In [53]:
def insert_to_table(data: pd.DataFrame, conn_string:str, table_name:str):
    db = create_engine(conn_string) # creates a connection to the database using SQLAlchemy
    conn = db.connect() # Establishes a database connection
    data.to_sql(table_name, conn, if_exists="replace", index=False)
    conn.close()

In [55]:
# read from the .parquet file

def load() -> pd.DataFrame:
    data = pd.DataFrame()
    for parquet_file in glob.glob(os.path.join(staging_data_dir, "*.parquet")):
        data = pd.concat([pd.read_parquet(parquet_file),data])

    #insert_to_table(data, table_name)
    insert_to_table(data = data, conn_string = conn_string, table_name = 'ml_car_data')

    return data

data = load()
print(data.shape)

(25, 4)